# Empêche l'affichage de l'arborescence des dossiers sans index
Options -Indexes

# Active le moteur de réécriture
RewriteEngine On

# Redirige vers HTTPS si non sécurisé
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirige vers www si accédé sans www (pour misterfley.com)
RewriteCond %{HTTP_HOST} ^misterfley\.com$ [NC]
RewriteRule ^ https://www.misterfley.com%{REQUEST_URI} [L,R=301]
