/* === Styles généraux pour le site === */

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.navbar-brand img {
  width: 2rem; /* Par exemple, 2rem pour la largeur */
  height: auto;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

.alert-success {
  background-color: #4caf50;
  color: white;
}

.alert-error {
  background-color: #f44336;
  color: white;
}

.alert-info {
  background-color: #2196f3;
  color: white;
}

#thanos {
  margin-top: 30px;
  padding: 20px;
}

#thanos img {
  width: 50%; /* Ajuste la taille de l'image à 50% de son conteneur */
  height: auto;
}

#thanos h1 {
  font-size: 1.5rem;
  margin-top: 20px;
}

.fade-up {
  animation: fadeInUp 0.6s ease-out forwards; /* Augmenter la durée à 0.6s */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(30px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
